<template>
<div class="all">
  <div class="contenedor">
    <div class="titulo">
      <h1 class="e">acerca de nosotros</h1>
    </div>
    <div class="texto" >
      <p class="a1">Somos una empresa para y por los colombianos jovenes que necesitan tutorias academicas por medio virtual con un ambiente moderno e intefaz amigable, esta idea fue hecha a raiz de un proyecto desarrollado en MisionTic para el año 2021.</p>
    </div>
    <div class="titulo">
      <h1 class="e">misión</h1>
    </div>
    <div class="texto" >
      <p class="a1">Construir una solución web para conectar cientos de estudiantes tutores  especializados en el áreas.</p>
    </div>
    <div class="titulo">
      <h1  class="e">Visión</h1>
    </div>
    <div class="texto" >
      <p class="a1">Ser líderes a nivel nacional en redes de acompañamiento académico virtuales.</p>
    </div>
  </div>
  <div>
  <div class="contenedor">
    <h1 class="e">FAQ</h1>
    <div class="titulo">
      <h1 class="e">¿Quiénes fueron los creadores?</h1>
    </div>
    <div class="texto" >
<ul>

<li type="square" class="u">Stephanie Avila </li>

<li type="square" class="u">Josue Nuñez</li>

<li type="square" class="u">Adriana Bohorquez</li>

<li type="square" class="u">Anna Gabriela Salazar</li>

<li type="square" class="u">Haider Mayorga</li>

<li type="square" class="u">William I. Jimenez </li>

</ul>
    </div>
      <div class="titulo">
      <h1 class="e">¿Cuáles funcionalidades tiene GoGus?</h1>
    </div>
    <div class="texto" >
      <p class="a1">GoGus tiene muchas funcionalidades como la creacion de perfiles estudiantes y tutores, sistema amigable de tutorias, feedback acerca de cada sesión y sistema de puntuación.</p>
    </div>
      <div class="titulo">
      <h1 class="e">¿Cómo tomar una tutoría?</h1>
    </div>
    <div class="texto" >
      <p class="a1">El sistema es sencillo simplemente regístrate ve a la sesión de tutorías y elige lo que necesites en relación a tus necesidades y disponibilidad.</p>
    </div>
      <div class="titulo">
      <h1 class="e">¿Qué es GoGus?</h1>
    </div>
    <div class="texto" >
      <p class="a1">GoGus nació de paedagogus que es Pedagogía en Latín y se recortó la primera partes.</p>
    </div>
  </div>
    <div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "App",
  data: function () {
    return {};
  },
  methods: {
    function(){
    }
  },
  created: function () {},
};
</script>
<style>
.all{
  width: 80%;
  height: 1500px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 0;
 border: 4px solid #008e76;
  background:white;
    border-radius: 5px;
}
.contenedor{
   width: 70%;
    margin-left: 15%;
    margin-right: 10%;
    margin-top:5%;
   border: 4px solid #008e76;
   border-radius: 5px;
}
.a1{
    font-family: 'Zen Antique', serif;
    font-size: 30px;
    text-align:center;
}
.e{ 
   color:#008e76;
   text-align: center;
}
.u{
  font-size: 25px;
  text-align: center;
  list-style-type:none;
}

</style>