<template>
  <div>
    <div class="header1">
      <img class="img" src="../images/usuario.png" alt="" />
    </div>
    <div class="f">
      <h1 class="username">{{ user.account.names }} {{ user.account.surnames }}</h1>
    </div>
    <div class="xd">
      <section id="pantalla_dividida">
        <div class="izquierda">
          <h1 class="username2">Detalles</h1>
          <ul class="social">
            <i class="icon gmail"></i>
            <a class="a" href="{{gmail}}">{{ user.email }}</a>
            <br />
            <i class="icon grado"></i>
            <a>Grado: {{ user.account.grade }}</a>
            <br />
            <i class="icon identificacion"></i>
            <a>{{ user.account.document_type }}:{{ user.account.doc_number }}</a>
            <br />
            <i class="icon telefono"></i>
            <a>Telefono:{{ user.account.phoneNumber }}</a>
          </ul>
        </div>
        <div class="derecha">
          <div class="der">
            <h1 class="username2">Ultimas reseñas de mis tutores</h1>
            <table class="table" v-for="info in tutorship">
              <tr>
                calificicacion:
                {{
                  info.score_student
                }}
              </tr>
              <tr>
                {{
                  info.feedback_student
                }}
              </tr>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import jwt_decode from "jwt-decode";
export default {
  name: "homeStudent",

  data: function () {
    return {
      user: {
        email: "",
        password: "",
        account: {
          birth_date: "",
          gender: "",
          names: "",
          surnames: "",
          grade: "",
          phoneNumber: "",
        },
      },
    };
  },
  methods: {
    getData: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("loadLogOut");
        return;
      }
      await this.verifyToken();
      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();

      axios
        .get(`https://gogus-backend-prueba.herokuapp.com/userStudent/${userId}/`, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
        .then((result) => {
          this.loaded = true;
          this.user = result.data;
          console.log(this.user);
        })
        .catch((error) => {
          this.$emit("loadLogOut");
        });
    },

    verifyToken: async function () {
      return axios
        .post(
          "https://gogus-backend-prueba.herokuapp.com/refresh/",
          {
            refresh: localStorage.getItem("token_refresh"),
          },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch((error) => {
          this.$emit("loadLogOut");
        });
    },
    ListarTutorship: function () {
      let url = "https://gogus-backend-prueba.herokuapp.com/tutorship/";
      let config = { headers: {} };
      axios
        .get(url, config)
        .then((result) => {
          console.log(result);
          const o = result.data;
          for (let elemento in o) {
            if (o[elemento].id_student == this.f) {
              this.tutorship.push(o[elemento]);
            }
          }
          console.log("tutorship", this.tutorship);
        })
        .catch((console) => {
          console.log(error.response);
          alert("error inesperado, f");
        });
    }
  },
  created: async function () {
    this.getData();
    //this.ListarTutorship();
  },
};
</script>


<style>
.table {
  text-align: center;
  padding: 30px;
}
.xd {
  margin: auto;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
}
#pantalla_dividida {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.izquierda {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  font-size: 18px;
  text-align: center;
  background-color: null;
  color: rgb(0, 0, 0);
  height: 200px;
  width: 37%;
  padding: 10px;
  margin-right: 5px;
  border-radius: 10%;
}
.der {
  overflow-y: scroll;
  font-size: 18px;
  text-align: center;
  background-color: #ffffffe0;
  height: 180px;
  padding: 5px;
  border-radius: 5%;
  padding: 30px;
}
.derecha {
  font-size: 18px;
  text-align: center;
  background-color: #e2ebe7e0;
  height: 200px;
  width: 63%;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.header1 {
  text-align: center;
  height: 170px;
  padding: 12px;
  background-image: url(https://s3.amazonaws.com/rtvc-assets-senalcolombia.gov.co/s3fs-public/field/image/fondo-pantalla-bicicleta-selva-amarilla-escritorio-desktop-1920-1080.jpg);
}
.img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.username {
  text-align: center;
  font-size: 20px;
  margin-top: 45px;
}
.username2 {
  text-align: center;
  font-size: 18px;
}
.social {
  text-align: center;
  padding: 0;
  margin: 5px;
}
.a {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(13, 24, 13);
}
a {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(13, 24, 13);
}
.a:hover {
  text-decoration: blue;
  color: rgb(68, 177, 204);
}
.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: cover;
}
.gmail {
  background-image: url("../images/gmail.png");
}
.date {
  background-image: url("../images/calendario.png");
}
.grado {
  background-image: url("../images/grado.png");
}
.identificacion {
  background-image: url("../images/indentificacion.png");
}
.telefono {
  background-image: url("../images/telefono.png");
}
.f {
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
</style>
