<template>
  <div class="loginUser">
    <div class="containerLoginUser">
      <h2>Iniciar Sesión</h2>
      <form v-on:submit.prevent="processLoginUser">
        <input
          type="text"
          placeholder="Nombre de usuario"
          v-model="user.username"
        /><br />
        <input
          type="password"
          placeholder="Contraseña"
          v-model="user.password"
        /><br />
        <button type="submit">Iniciar Sesión</button>
      </form>
    </div>
        <figure class="imagenHome">
          <img 
          :src="require('@/images/imagenHome.png')" 
          alt="imagen Home student"
          />

        </figure>
  </div>
</template>

<script>
import axios from "axios";
import jwt_decode from "jwt-decode";

export default {
  name: "logIn",

  data: function () {
    return {
      user: {
        username: "",
        password: "",
      },
      dataLogin: "",
    };
  },

  methods: {
    getTypeUser: async function (dataLogin) {
      let token = dataLogin.token_access;
      let userId = jwt_decode(token).user_id.toString();
      return axios
        .get(`https://gogus-backend-prueba.herokuapp.com/user/${userId}/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          localStorage.setItem("typeAccount", result.data.typeAccount);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    processLoginUser: async function () {
      axios
        .post("https://gogus-backend-prueba.herokuapp.com/login/", this.user, { headers: {} })
        .then(async (result) => {
          let dataLogin = {
            username: this.user.username,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          };
          await this.getTypeUser(dataLogin);
          this.$emit("completedLogIn", dataLogin);
        })
        .catch((error) => {
          if (error.response.status == "401")
            alert("Las credenciales son incorrectas");
        });
    },
  },
};
</script>

<style>
.loginUser {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenHome {
  float: right;
}
figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
.containerLoginUser {
  border: 3px solid #008e76;
  border-radius: 10px;
  background-color: white;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
}
.loginUser h2 {
  color: #008e76;
}
.loginUser form {
  width: 70%;
}
.loginUser input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #008e76;
}
.loginUser button {
  width: 100%;
  height: 40px;
  color: #e5e7e9;
  background: #008e76;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}
.loginUser button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #008e76;
}
</style>