<template>
  <div class="studentData">
    <div v-if="loaded" class="container_studenData">
      <h2>Datos del tutor</h2>
      <form v-on:submit.prevent="processUpdateUser">
        <div class="form-group">
          <label for="inputName">Nombre(s)</label>
          <input
            type="text"
            class="form-control"
            id="inputName"
            v-model="user.account.names"
          />
        </div>
        <div class="form-group">
          <label for="inputLastname">Apellido(s)</label>
          <input
            type="text"
            class="form-control"
            id="inputLastname"
            v-model="user.account.surnames"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputGrade">Profesion</label>
            <input
              type="text"
              class="form-control"
              id="inputGrade"
              v-model="user.account.profession"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputTelephone">Telefono</label>
            <input
              type="tel"
              class="form-control"
              id="inputTelephone"
              v-model="user.account.phone_number"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputBirthDate">Fecha de nacimiento</label>
            <input
              type="date"
              class="form-control"
              id="inputBirthDate"
              v-model="user.account.birth_date"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputGender">Genero</label>
            <select
              id="inputGender"
              class="form-control"
              v-model="user.account.gender"
            >
              <option selected>Choose...</option>
              <option value="F">Femenino</option>
              <option value="M">Masculino</option>
              <option value="O">Otro</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail4"
              v-model="user.email"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword4"
              placeholder="Password"
              v-model="user.password"
            />
          </div>
        </div>
        <div class="btns">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
      <div class="btns">
          <button v-on:click="proccessDeleteUser" class="btn btn-primary">Eliminar cuenta</button>

      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import jwt_decode from "jwt-decode";
export default {
  name: "TutorData",
  data: function () {
    return {
      loaded: false,
      idTutor: -1,
      user: {
        email: "",
        password: "",
        account: {
          birth_date: "",
          gender: "",
          names: "",
          surnames: "",
          profession: "",
          phone_number: ""
        }
      }
    };
  },
  methods: {
    getData: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("loadLogOut");
        return;
      }
      await this.verifyToken();
      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();
      
      axios
        .get(`https://gogus-backend-prueba.herokuapp.com/userTutor/${userId}/`, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
        .then((result) => {
          this.loaded = true;
          this.user = result.data;
          this.idTutor = result.data.account.id;
        })
        .catch((error) => {
          this.$emit("loadLogOut");
        });
    },

    verifyToken: async function () {
      return axios
        .post(
          "https://gogus-backend-prueba.herokuapp.com/refresh/",
          {
            refresh: localStorage.getItem("token_refresh"),
          },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch((error) => {
          this.$emit("loadLogOut");
        });
    },

    processUpdateUser: async function () {
      if (
        this.user.email == "" ||
        this.user.password == "" ||
        this.user.account.birth_date == undefined ||
        this.user.account.gender == undefined ||
        this.user.account.names == "" ||
        this.user.account.surnames == "" ||
        this.user.account.profession == "" ||
        this.user.account.phoneNumber == ""
      ) {
        alert("Por favor llene todos los campos.");
        return;
      }
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("loadLogOut");
        return;
      }
      await this.verifyToken();
      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();
      axios
        .put(
          `https://gogus-backend-prueba.herokuapp.com/userTutor/update/${this.idTutor}/`,
          this.user.account,
          {
            headers: { Authorization: `Bearer ${token}` },
          }
        )
        .then((result) => {
          //this.$emit("completedInfoUserUpdate");
        })
        .catch((error) => {
          console.log("Error en update");
          console.log(this.user);
        });
        delete this.user.account;
      
      axios
        .put(`https://gogus-backend-prueba.herokuapp.com/user/update/${userId}/`, this.user, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.$emit("completedInfoUserUpdate");
        })
        .catch((error) => {
          console.log("Error en update");
          console.log(this.user);
        });
    },

    proccessDeleteUser: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("loadLogOut");
        return;
      }
      await this.verifyToken();
      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();
      axios
        .delete(`https://gogus-backend-prueba.herokuapp.com/userTutor/delete/${userId}/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.$emit("completedUserDelete");
        })
        .catch((error) => {
          console.log("Error en delete");
          console.log(this.user);
        });
    }
  },
  created: async function () {
    this.getData();
  },
};
</script>

<style>
.studentData {
  margin: auto;
  width: 100%;
}
.errorMessage {
  font-family: sans-serif;
  font-size: 13px;
  color: red;
}

.container_studenData {
  font-family: sans-serif;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}
.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
*,
::after,
::before {
  box-sizing: border-box;
}
.col-md-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary {
  color: #fff;
  background-color: #008e76;
  border-color: #008e76;
}
.btns {
  display: flex;
  justify-content: space-evenly;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 0.5rem;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border-radius: 0;
}
</style>
