<template>
  <div class="signUpUser">
    <div class="containerSignUpUser">
      <h2>Registro tutor</h2>
      <form v-on:submit.prevent="processSignUp">
        <input
          type="text"
          placeholder="Nombre de usuario"
          v-model="user.username"
        />
        <input
          type="password"
          placeholder="Contraseña"
          v-model="user.password"
        />
        <input
          type="email"
          placeholder="Correo electrónico"
          v-model="user.email"
        />
        <div class="containerInfoStudent">
          <h3>Información del tutor</h3>
          <input
            type="text"
            placeholder="Nombres"
            v-model="user.account.names"
          />
          <input
            type="text"
            placeholder="Apellidos"
            v-model="user.account.surnames"
          />
          <label for="birthDate">Fecha de nacimiento</label>
          <input
            type="date"
            v-model="user.account.birth_date"
            name="birthDate"
            id="birthDate"
          />
          <label for="gender">Género</label>
          <select name="gender" v-model="user.account.gender">
            <option value="F">Femenino</option>
            <option value="M">Masculino</option>
            <option value="O">Otro</option>
          </select>
          <label for="docType">Tipo de documento</label>
          <select name="docType" v-model="user.account.document_type">
            <option value="CC">Cédula de ciudadanía</option>
            <option value="TI">Tarjeta de identidad</option>
            <option value="P">Pasaporte</option>
          </select>
          <input
            type="text"
            placeholder="Número de documento"
            v-model="user.account.doc_number"
          />
          <input
            type="text"
            placeholder="Profesión"
            v-model="user.account.profession"
          />
          <input
            type="text"
            placeholder="Número de telefono"
            v-model="user.account.phone_number"
          />
        </div>
        <button type="submit">Registrarse</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "studentSignUp",

  data: function () {
    return {
      user: {
        username: "",
        password: "",
        email: "",
        typeAccount: "TT",
        account: {
          names: "",
          surnames: "",
          birth_date: "",
          gender: "",
          document_type: "",
          doc_number: "",
          profession: "",
          phone_number: "",
        },
      },
    };
  },

  methods: {
    processSignUp: function () {
      axios
        .post("https://gogus-backend-prueba.herokuapp.com/user/", this.user, {
          headers: {},
        })
        .then((result) => {
          const dataSignUp = {
            username: this.user.username,
            token_access: result.data.token_access,
            token_refresh: result.data.token_refresh,
          };
          this.$emit("completedSignUp", dataSignUp);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style>
.signUpUser {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSignUpUser {
  background-color: white;
  border: 3px solid #008e76;
  border-radius: 10px;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.signUpUser h2 {
  color: #008e76;
}
.signUpUser h3 {
  color: #008e76;
}
.signUpUser label {
  color: #008e76;
}
.signUpUser form {
  width: 70%;
}
.signUpUser input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #008e76;
}

.signUpUser select {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #008e76;
}
.signUpUser button {
  width: 100%;
  height: 40px;
  color: #e5e7e9;
  background: #008e76;
  border: 1px solid #e5e7e9;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
}
.signUpUser button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #008e76;
}
</style>