<template>
  <div>
    <div class="header">
      <div class="logo_gogus">
        <img :src="require('./images/logo_gogus.png')" />
      </div>
      <nav class="buttons">
        <button v-if="is_auth" v-on:click="loadHomeUser">Inicio</button>
        <button v-if="is_auth" v-on:click="loadUserData">Perfil</button>
        <button v-if="is_auth" v-on:click="loadLogOut">Cerrar Sesión</button>

        <button v-if="!is_auth" v-on:click="loadLogIn">Ingresar</button>
        <button v-if="!is_auth" v-on:click="loadStudentSignUp">
          Registro Estudiante
        </button>
        <button v-if="!is_auth" v-on:click="loadTutorSignUp">
          Registro Tutor
        </button>
        <button v-if="!is_auth" v-on:click="loadFAQ">FAQ</button>
      </nav>
    </div>

    <div class="main-component">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:loadLogOut="loadLogOut"
        v-on:completedInfoUserUpdate="completedInfoUserUpdate"
        v-on:completedUserDelete="completedUserDelete"
      ></router-view>
 
    </div>
    <footer>
      <h2>Gogus - MisionTic 2022 - P52 G2</h2>
    </footer>
  </div>
</template>

<script>

export default {
  name: "App",
  data: function () {
    return {
      is_auth: false,
    };
  },

  components: {},

  methods: {
    verifyAuth: function () {
      this.is_auth = localStorage.getItem("is_auth") || false;
      if (this.is_auth == false) {
        this.$router.push({ name: "logIn" });
      } else {
        this.loadHomeUser();
      }
    },

    loadStudentSignUp: function () {
      this.$router.push({ name: "studentSignUp" });
    },

    loadTutorSignUp: function () {
      this.$router.push({ name: "tutorSignUp" });
    },

    loadLogIn: function () {
      this.$router.push({ name: "logIn" });
    },

    loadHomeUser: function () {
      if (localStorage.getItem("typeAccount") == "ST") {
        this.$router.push({ name: "homeStudent" });
      } else if (localStorage.getItem("typeAccount") == "TT") {
        this.$router.push({ name: "homeTutor" });
      }
    },

    loadUserData: function () {
      if (localStorage.getItem("typeAccount") == "ST") {
        this.$router.push({ name: "studentData" });
      } else if (localStorage.getItem("typeAccount") == "TT") {
        this.$router.push({ name: "tutorData" });
      }
    },

    loadLogOut: function () {
      localStorage.clear();
      alert("Sesión cerrada");
      this.verifyAuth();
    },

    loadFAQ: function () {
      this.$router.push({ name: "faq" });
    },

    completedSignUp: function (data) {
      alert("Registro completado");
      this.completedLogIn(data);
    },

    completedLogIn: function (data) {
      localStorage.setItem("is_auth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      this.typeAccount = data.typeAccount;
      alert("Bienvenido " + data.username);
      this.verifyAuth();
    },

    completedInfoUserUpdate: function (data) {
      alert("Información actualizada");
      this.verifyAuth();
    },

    completedUserDelete: function (data) {
      alert("Cuenta eliminada");
      this.loadLogIn();
    },
  },
  created: function () {
    this.verifyAuth();
  },
};
</script>

<style>
.header {
  background-color: #008e76;
  color: white;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  justify-content: space-around;
  align-items: center;
}

footer h2 {
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-size: 16px;
  color: #88cdca;
  position:relative;
    bottom:12px;
}

footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:20px;
   width:100%;
   background:#005C4C;
}

.logo-gogus {
  width: 20px;
}

body {
  position: relative;
  margin: 0;
  align-content: center;
  background-image: url("./images/fondo.jpg");
}

.buttons button {
  background-color: #d0f1c2;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;

  background-image: -webkit-linear-gradient(top, #d0f1c2, #88cdca);
  background-image: -moz-linear-gradient(top, #d0f1c2, #88cdca);
  background-image: -ms-linear-gradient(top, #d0f1c2, #88cdca);
  background-image: -o-linear-gradient(top, #d0f1c2, #88cdca);
  background-image: linear-gradient(to bottom, #d0f1c2, #88cdca);

  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
text-shadow: 3px 2px 1px #b9c6fa;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
font-family: inherit;
  color: #005C4C;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  
}

.buttons button {
  background: #d0f1c2;
  background-image: -webkit-linear-gradient(top,  #d0f1c2, #88cdca);
  background-image: -moz-linear-gradient(top,  #d0f1c2, #88cdca);
  background-image: -ms-linear-gradient(top,  #d0f1c2, #88cdca);
  background-image: -o-linear-gradient(top,  #d0f1c2, #88cdca);
  background-image: linear-gradient(to bottom,  #d0f1c2, #88cdca);
  text-decoration: none;
}

@media (max-width: 425px) {
  .buttons {
    display: none;
  }
  .header {
    justify-content: center;
    background-color: blue;
  }
}
</style>

